body {
    background: #ffffff url("chronobg.png") repeat;
	height: 100%;
}
/*the sun*/
.toppleking {
    height: 345px;
    width: 345px;
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -185px;
	margin-left: -185px;
}
h1 {
	color: #000;
	font-size: 35px;
	font-family: cuprum;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	padding: 10px;
}
