body {
    background: #ffffff url("chronobg.png") repeat;
	height: 100%;
}
/*the sun*/
.toppleking {
    height: 345px;
    width: 345px;
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -185px;
	margin-left: -185px;
}
/*top left planet*/
.tlplanet {
    height: 105px;
    width: 105px;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 190, .75);
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -255px;
	margin-left: -300px;
}
	
h1 {
	color: #1e1e1e;
	font-size: 35px;
	font-family: cuprum;
	position: absolute;
	top:30%;
	left:25%;
}

h2 {
	color: #1e1e1e;
	font-size: 15px;
	font-family: cuprum;
	position: absolute;
	top:30%;
        left:25%;
}
	
.modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
	overflow: auto;
    }

    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }

    .modalDialog > div {
        width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);
	    overflow: auto;
    }

    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }

    .close:hover { background: #00d9ff; }
